@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap');*

*{
    font-family: 'Montserrat', sans-serif;
}
.titulo{
    height: 100px;
    text-align: center;
}
.titulo p{
    font-size: xx-large;
}
.izq{
     position: relative;
     float: left;
     width: 200px;
     text-align: center;
 }
.izq img{
    filter: grayscale(100%);
    width: 150px;
    height: 188px;
}
.izq img:hover {
    filter: grayscale(0%);
    transition: 1s;
}
button{
    border: none;
}
.cont{
    margin-left: 200px;
    width: auto;
}
.princ{
    position: relative;
    float: left;
    width: 50%;
    height: 800px;
}
.princ div{
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.breda{
    background-image: url("./img/breda.jpg");
    z-index: 1;
}
.venus{
    background-image: url("./img/venus.jpg");
}
.meninas{
    background-image: url("./img/meninas.jpg");
}
.vulcano{
    background-image: url("./img/vulcano.jpg");
}
.inocencio{
    background-image: url("./img/inocencio.jpg");
}
.der{
    position: relative;
    float: right;
    width: 50%;
    height: 800px;
}
.just{
    text-align: left;
}
.boton{
    background-color:  #97c1c0;
    border-radius: 10px;
    border: none;
    padding: 10px 40px;
}
.boton:hover{
    background-color: #04c5c0;
}
.der div{
    position: absolute;
    float: left;
    width: auto;
    height: auto;
    text-align: center;
    margin-top: 500px;
    background-color: white;
}
.breda_i{
    z-index: 1;
}
